<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    </head>
    <body>
        <div id='app' class="main ui text container">
            <div style="margin-top:2em;">
                <div class="ui huge header">Fantastic Ultimate Cart Kerfuffle League</div>
                <sui-form>
                    <sui-grid>
                        <sui-grid-column :width=5>
                            <sui-form-field>
                                <label>Year</label>
                                <sui-dropdown
                                    :options="mappedYears"
                                    placeholder="Year"
                                    selection
                                    v-model="filter.year"
                                />
                            </sui-form-field>
                        </sui-grid-column>
                        <sui-grid-column :width=5>
                            <sui-form-field>
                                <label>Month</label>
                                <sui-dropdown
                                    :options="filteredMonths"
                                    placeholder="Month"
                                    selection
                                    v-model="filter.month"
                                />
                            </sui-form-field>
                        </sui-grid-column>
                        <sui-grid-column :width=5>
                            <sui-form-field>
                                <label>Race</label>
                                <sui-dropdown
                                    :options="filteredRaces"
                                    placeholder="Race"
                                    selection
                                    v-model="filter.race"
                                />
                            </sui-form-field>
                        </sui-grid-column>
                    </sui-grid>
                </sui-form>
            </div>

            <sui-table celled>
                <sui-table-header>
                    <sui-table-row>
                        <sui-table-header-cell>Racer</sui-table-header-cell>
                        <sui-table-header-cell>Points</sui-table-header-cell>
                        <sui-table-header-cell>Crashes</sui-table-header-cell>
                    </sui-table-row>
                </sui-table-header>
                <sui-table-body>
                    <sui-table-row v-for="racer in filteredResults">
                        <sui-table-cell>{{racer.name}}</sui-table-cell>
                        <sui-table-cell>{{racer.points}}</sui-table-cell>
                        <sui-table-cell>{{racer.crashes}}</sui-table-cell>
                    </sui-table-row>
                </sui-table-body>
            </sui-table>
        </div>
        <script>
            function loadRaces(data){
                app.races = data.feed.entry.map(r => {return {
                    date: r.gsx$date.$t,
                    id: parseInt(r['gsx$raceno.'].$t),
                    laps: parseInt(r.gsx$laps.$t),
                    link: r.gsx$link.$t,
                    month: r.gsx$month.$t,
                    year: r.gsx$year.$t,
                    track: r.gsx$track.$t,
                    racers: parseInt(r.gsx$racers.$t),
                    notes: r.gsx$notes.$t
                }});
            }

            function loadResults(data){
                app.results = data.feed.entry.map(r => {return {
                    car: r.gsx$car.$t,
                    note: r.gsx$note.$t,
                    points: parseInt(r.gsx$points.$t),
                    position: parseInt(r.gsx$position.$t),
                    race_id: parseInt(r['gsx$raceno.'].$t),
                    user_id: r.gsx$racerid.$t,
                    user_name: r.gsx$racername.$t,
                    time: r.gsx$time.$t,
                    time_seconds: parseInt(r.gsx$timeseconds.$t),
                    bestlap: r.gsx$bestlap.$t,
                    bestlap_seconds: parseInt(r.gsx$bestlapseconds.$t)
                }});
            }

            function mappedYears(){
                var self = this;
                return [{ key: "", value: "", text: "All"}].concat(
                    Array.from(new Set(self.races.map(r => r.year))).map(i => { return { key: i, value: i, text: i }}));
            }

            function filteredMonths(){
                var self = this;
                var races = self.races;

                if(self.filter.year !== ""){
                    races = races.filter(r => r.year === self.filter.year);
                }

                return [{ key: "", value: "", text: "All"}].concat(
                    Array.from(new Set(races.map(r => r.month))).map(i => { return { key: i, value: i, text: i }}));
            }

            function filteredRaces(){
                var self = this;
                var races = self.races;

                if(self.filter.year !== ""){
                    races = races.filter(r => r.year === self.filter.year);
                }
                if(self.filter.month !== ""){
                    races = races.filter(r => r.month === self.filter.month);
                }

                return [{ key: "", value: "", text: "All"}].concat(races.map(r => r.date).map(i => { return { key: i, value: i, text: i }}));
            }

            function filteredResults(){
                var self = this;
                var results = self.results;
                var races = self.races;

                if(self.filter.year !== ""){
                    races = races.filter(r => r.year === self.filter.year);
                }
                if(self.filter.month !== ""){
                    races = races.filter(r => r.month === self.filter.month);
                }
                if(self.filter.race !== ""){
                    races = races.filter(r => r.date === self.filter.race);
                }

                var race_ids = races.map(r => r.id);
                results = self.results.filter(r => race_ids.indexOf(r.race_id) >= 0);

                return aggregateResults(results);
            }

            function mappedRacers(){

            }

            // function updateResults(){
            //     var results = window.results;
            //     app.results = aggregateResults(results);
            //     var racers = {};
            //     for(var i = 0, len = results.length; i < len; i++){
            //         var r = results[i];
            //         racers[r.user_id] = r.user_name;
            //     };
            //     app.filterOptions.racers = Object.keys(racers).map(id => {return {value: id, text: racers[id]}});
            // }

            function aggregateResults(results){
                var leaders = {};
                results.forEach(r => {
                    var id = r.user_id;
                    var user = null;
                    if(Object.keys(leaders).indexOf(id) >= 0){
                        user = leaders[id];
                    }else{
                        user = {
                            name: r.user_name,
                            points: 0,
                            crashes: 0
                        }
                        leaders[id] = user;
                    }

                    user.points += r.points;
                    user.name = r.user_name;
                    if(r.note === 'CRASHED'){
                        user.crashes += 1;
                    }
                });
                var output = Object.keys(leaders).map(k => leaders[k]);

                return output.sort((a, b) => b.points - a.points);
            }

            Vue.use(SemanticUIVue);
            window.app = new Vue({
                el: '#app',
                data: {
                    races: [],
                    results: [],
                    filter:{
                        year: "",
                        month: "",
                        race: "",
                        racer: ""
                    },
                    filterOptions: {
                        racers: [],
                        years: [],
                        months: [],
                        races: []
                    }
                },
                computed: {
                    mappedYears,
                    filteredMonths,
                    filteredRaces,
                    mappedRacers,
                    filteredResults
                }
            })
        </script>
        <script src="https://spreadsheets.google.com/feeds/list/1avHmeIS-yh8Tyc7cm9EGTc4hpoi3T8y4L80vJPiFd0U/oj41qk/public/values?alt=json-in-script&callback=loadRaces"></script>
        <script src="https://spreadsheets.google.com/feeds/list/1avHmeIS-yh8Tyc7cm9EGTc4hpoi3T8y4L80vJPiFd0U/orpmas5/public/values?alt=json-in-script&callback=loadResults"></script>
    </body>
</html>